<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ns-gen Dashboard</title>
  </head>
<body>

<p><a href="/new" target=_>new</a></p>

<table id="tbl_sessions" style="width: 50%">
{% for gs_id, title, description_50char in sessions %}
<tr>
<td style="padding-left:5px;">{{ gs_id }}</td>
<td style="padding-left:25px;width:100%;">{{ title }}</td>
<td style="padding-left:25px;width:100%;">{{ description_50char }}</td>
<td style="padding-left:25px;"><a href="/session/{{ gs_id }}" target="_blank">resume</a></td>
<td style="padding-left:25px;"><a href="/edit_from_dashboard/{{ gs_id }}">housekeep</a></td>
<td style="padding-left:25px;"><a href="/duplicate/{{ gs_id }}" target="_blank">duplicate</a></td>
<td style="padding-left:25px;"><a href="/delete/{{ gs_id }}">delete</a></td>
</tr>
{% endfor %}
</table>

<p><a href="/logout">logout</a></p>
</body>

<script src="/static/ns/jquery.min.js"></script>
<script>
$(document).ready(() => {
  // TODO: make this page refresh session list as needed
  console.log("loaded");
});
</script>

</html>
