<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ns-gen Dashboard</title>
  </head>
<body>

<fieldset style="width: 300px">
<table id="tbl_sessions">
{% for gs_id in sessions %}
<tr>
<td style="padding-left:25px;">session_{{ gs_id }}</td>
<td style="padding-left:25px;"><a href="/session/{{ gs_id }}" target="_blank">resume</a></td>
<td style="padding-left:25px;"><a href="/delete/{{ gs_id }}">delete</a></td>
</tr>
{% endfor %}
</table>
</fieldset>

<p><a href="/new" target=_>new</> <br>
<a href="/latest" target=_>latest</> <br>
<a href="/logout">logout</></p>

</body>
</html>
