<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="/static/ns/gui.css">
  <title>NSGEN visual code generation</title>
</head>

<body>

<div id="buttons" style="position:absolute;margin:auto;left:90px">
  <a href="/dashboard" style="font-size:12px;">home</a>
  <a href="/dashboard" style="font-size:12px;">logout</a><br>
  <hr style="margin-top:15px;margin-bottom:12px;">
  <button id="btnUndo" style="font-size:10px;cursor:pointer;margin:5px;padding:12px 12px;color:white;background-color:#e7e7e7;border:none;color:black;">Undo</button>
  <button id="btnRedo" style="font-size:10px;cursor:pointer;margin:5px;padding:12px 12px;color:white;background-color:#e7e7e7;border:none;color:black;">Redo</button>
  <button id="btnLoad" style="font-size:10px;cursor:pointer;margin:5px;padding:12px 12px;color:white;background-color:#e7e7e7;border:none;color:black;">Load</button>
  <button id="btnCommit" style="font-size:10px;cursor:pointer;margin:5px;padding:12px 12px;color:white;background-color:#e7e7e7;border:none;color:black;">Save</button>
  <button id="btnCogen" style="font-size:10px;cursor:pointer;margin:5px;padding:12px 12px;color:white;background-color:#e7e7e7;border:none;color:black;">Cogen</button>
  <div style="text-align:left;margin-top:12px;margin-bottom:12px;">
    <input type="text" id="tbxNodeLabel" size=8 style="font-size:12px;">
  </div>
  <label id="status" style="font-size:16px;">(status)</label>
</div>

<div id="graph_menu_4" style="position:absolute;left:0px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>

<div id="tpeedt_wrapper" style="position:absolute;overflow-y:hidden;overflow-x:hidden;margin:auto;">
<div id="tpeedt_1"></div>
<div id="tpeedt_2"></div>
</div>
<!-- graph session key, must be sent along with every ajax call -->
<input id="gs_id" type="hidden" value="{{ gs_id }}">
<!-- graph session key, must be sent along with every ajax call -->
<input id="tab_id" type="hidden" value="{{ tab_id }}">
</body>

<script src="/static/ns/d3.v4.min.js"></script>
<script src="/static/ns/jquery.min.js"></script>
<script src="/static/ns/jquery-ui.js"></script>
<script src="/static/ns/jquery.ui.css"></script>
<script src="/static/ns/typetreeui.js"></script>
<script src="/static/ns/tpeparser.js"></script>
<script src="/static/ns/graphui.js"></script>
<script src="/static/ns/nsgen.js"></script>
<script src="/static/ns/subwindow.js"></script>

<script>
let intface = null;
var statusConsole = function(s) {
  let status = d3.select("#status");
  status.html(s);
}

$(document).ready(() => {
  // button events
  $("#btnUndo").click( () => { intface.undo(); });
  $("#btnRedo").click( () => { intface.redo(); });
  $("#btnLoad").click( () => { intface.loadSession(); });
  $("#btnCommit").click( () => { intface.commitSession(); });
  $("#btnCogen").click( () => { intface.cogenSession(); });

  // key press events for undo/redo
  document.addEventListener('keydown', function(event) {
    if (event.ctrlKey && event.key === 'z') { intface.undo(); }
    else if (event.ctrlKey && event.key === 'y') { intface.redo(); }
    else if (event.ctrlKey && event.shiftKey && event.key === 'Z') { intface.redo(); }
  });

  // construct graph engine and add listeners
  let gs_id = $("body > #gs_id")[0].value;
  let tab_id = $("body > #tab_id")[0].value;
  intface = new GraphInterfaceNSGen(gs_id, tab_id);

  // label textbox
  let tbx = $("#tbxNodeLabel")
  tbx.change( () => { // commit to node label at enter/tab keypress (and focus out)
    intface.pushSelectedNodeLabel(tbx.val());
    tbx.val("");
  });
  tbx.on('keydown', (event) => { // press escape to remove focus
    if (event.key != "Escape") return;
    tbx.prop("selected", false)
    tbx.blur();
  });
  intface.addNodeSelectionListener( (n) => { // set label text and select @ node click
    if (n==null) return;
    tbx.val(n.label);
    tbx.select();
  });

  // set type tree and create node menus (gentypes01 menu structure)
  intface.addSessionLoadListener( (tree) => {
    // setup the menus manually
    let fc_addr = tree["menus"]["FLOWCHART"];
    let fc_confs = fc_addr.map( (itm) => nodeTypeReadTree(itm, tree) );
    let menu4 = new NodeTypeMenu('graph_menu_4', 'flowchart', fc_confs);
    menu4.rgstrClickConf(intface.setCreateNodeConf.bind(intface));

    // type editor
    d3.select("#tpeedt_wrapper")
      .style("width", "250px")
      .style("background-color", "white")
      .style("padding", "3px")
      .style("border", "1px solid gray");
    let tpeedt_1 = d3.select("#tpeedt_1")
      .style("background-color", "white")
      .style("padding", "3px");
    let tpeedt_2 = d3.select("#tpeedt_2")
      .style("background-color", "white")
      .style("padding", "3px");
    let canDelHook = (addr) => { return !intface.graphData.hasNodeOfAddress(addr) };
    let ttui_1 = new TypeTreeUi("ttui_1", tpeedt_1, tree["menus"]["BUILTIN"], "user.builtin", tree, canDelHook, usetbx=false);
    ttui_1.rgstrClickConf(intface.setCreateNodeConf.bind(intface));

    intface.updateUi();
  });

  // universal noselect to prevent selection during node handling. (This does not prevent selection in textboxes etc.)
  $("body").addClass("noselect");

  // load graph and run
  intface.loadSession();

  // TEMPLATE code
  // create a subwindow
  createSubWindow("test_name", 500, 300, 400);
  // TODO: use also this to add resize/copy/etc. buttons
  //addHeaderButtonToSubwindow(this.wname, "log", 1, this.logscaleCB, "lightgray");
  // TODO: search for "brws_container" in subwindow.js for examples of how to add subwindow "body" elements
  //addElementToSubWindow(this.wname, brws_container)
});
</script>
</html>
