<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="/static/ns/gui.css">
  <title>NSGEN visual code generation</title>
</head>

<body>
<div id="buttons" style="position:absolute;margin:auto;">
  <button id="btnUndo">Undo</button>
  <button id="btnRedo">Redo</button>
  <button id="btnLoad">Load</button>
  <button id="btnCommit">Save</button>
</div>
<div id="status" style="position:absolute;margin:auto;"><label id="lblStatus"></label></div>

<div id="graph_menu_1" style="position:absolute;left:303px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_2" style="position:absolute;left:202px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_3" style="position:absolute;left:101px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_4" style="position:absolute;left:  0px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>

<div id="tpeedt" style="position:absolute;overflow-y:hidden;overflow-x:hidden;margin:auto;"></div>
<div id="tpeedt_2" style="position:absolute;overflow-y:hidden;overflow-x:hidden;margin:auto;"></div>

<!-- graph session key, must be sent along with every ajax call -->
<input id="gs_id" type="hidden" value="{{ gs_id }}">
<!-- graph session key, must be sent along with every ajax call -->
<input id="tab_id" type="hidden" value="{{ tab_id }}">
</body>

<script src="/static/ns/d3.v4.min.js"></script>
<script src="/static/ns/jquery.min.js"></script>
<script src="/static/ns/typetreeui.js"></script>
<script src="/static/ns/graphui.js"></script>
<script src="/static/ns/nodetypes.js"></script>
<script src="/static/ns/nsgen.js"></script>

<script>
let intface = null;
var statusConsole = function(s) {
  let status = d3.select("#status");
  status.html(s);
  status.style("left", window.innerWidth/2-status.node().clientWidth/2 + "px");
}

$(document).ready(() => {
  // set up events
  $("#btnUndo").click( () => { intface.undo(); });
  $("#btnRedo").click( () => { intface.redo(); });
  $("#btnLoad").click( () => { intface.loadSession(); });
  $("#btnCommit").click( () => { intface.commitSession(); });

  // construct graph engine and add listeners
  let gs_id = $("body > #gs_id")[0].value;
  let tab_id = $("body > #tab_id")[0].value;

  // the graph ui interface
  intface = new GraphInterfaceNSGen(gs_id, tab_id);

  // user data controls
  // TODO: bring back a user panel or delete this if no labels are needed
  $("#tbxNodeLabel").change( () => {
    intface.pushSelectedNodeLabel($("#tbxNodeLabel").val());
  });

  // set type tree and create node menus (gentypes01 menu structure)
  intface.addSessionLoadListener( (tree) => {
    // setup the menus manually
    let fc_addr = tree["menus"]["FLOWCHART"];
    let fc_confs = fc_addr.map( (itm) => nodeTypeReadTree(itm, tree) );
    let menu4 = new NodeTypeMenu('graph_menu_4', 'flowchart', fc_confs);
    menu4.rgstrClickConf(intface.setCreateNodeConf.bind(intface));
    let dg_addr = tree["menus"]["DATAGRAPH"];
    let dg_confs = dg_addr.map( (itm) => nodeTypeReadTree(itm, tree) );
    let menu3 = new NodeTypeMenu('graph_menu_3', 'datagraph', dg_confs);
    menu3.rgstrClickConf(intface.setCreateNodeConf.bind(intface));

    // type editor
    let tpeedt = d3.select("#tpeedt")
      .style("background-color", "white")
      .style("padding", "3px")
      .style("border", "1px solid gray");
    let ttui_1 = new TypeTreeUi(tpeedt, tree["menus"]["BUILTIN"], "user.builtin", tree, notbx=true, intface.setCreateNodeConf);
    //let ttui2 = new TypeTreeUi(tpeedt_2, tree["menus"]["CUSTOM"], "user.custom", tree);
  });

  // universal noselect to prevent selection during node handling. (This does not prevent selection in textboxes etc.)
  $("body").addClass("noselect");

  // position status label below buttons
  let h = $("#buttons").outerHeight();
  let t = $("#buttons").position().top;
  $("#status").css({ "top" : (h+t)+"px", "user-select" : "auto" });

  // load graph and run
  intface.updateUi();
  intface.loadSession();
});
</script>
</html>
